<!DOCTYPE html>
<html>
<head>
	<link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/create.js"></script>
	<title>ToDo list</title>
</head>
<body>
	<!--
	<h2> Create User</h2>
	<form id="user_create">
		<label>Nickname:</label> <input id="nickname" name="nickname"/>
		<br>
		<input type="submit" value="Save"/>
	</form>
	 -->
	<div id="views">
		<div id="tasks">
			<h1>Todos</h1>

			<form>
				<input type="text" placeholder="What needs to be done?">
			</form>

			<div class="items"></div>

			<footer>
				<a class="clear">Clear completed</a>
				<div class="count"><span class="countVal"></span> left</div>
			</footer>
		</div>
	</div>
</body>
</html>