<!DOCTYPE html>
<html>
<head>
	<link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<title>{{title}}</title>
</head>
<body>
	<div id="views">
		<div id="tasks">
			<h1>Todos</h1>

			<form id="login">
				<h3>Login</h3>
				<input id="username" name="username" type="text" placeholder="username">
				<input id="password" name="password" type="password" placeholder="password">
				<br>
				<br>
				<input type="submit" value="Login">
			</form>

			<footer>
				<div>This is a test app.</div>
			</footer>
		</div>
	</div>
</body>
</html>